$global-primary-background: #b70344;
$global-link-color: #b70344;
$global-link-hover-color: #e30355;

$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: dark;

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
