{{ define "content"}}
<div class="columns is-centered">
    {{ if .error }}
    <div class="column is-half">
        <div class="notification is-danger">
            {{ .error }}
        </div>
    </div>
    {{ else if not .result.Items }}
    <div class="column is-half">
        <div class="notification is-warning">
            No bookmarks yet!
        </div>
    </div>
    {{ else }}
    <div class="column is-two-thirds">
        {{ range $bookmark := .result.Items }}
        {{ template "bookmark_card" $bookmark }}
        {{ end }}
        <nav class="pagination is-centered" role="navigation" aria-label="navigation">
            <a class="button pagination-previous" {{ if .result.HasPrev }}href="/?offset={{ .result.PrevOffset }}"{{ end }} {{ if not .result.HasPrev }}disabled{{ end }}>Previous</a>
            <a class="button pagination-next" {{ if .result.HasNext }}href="/?offset={{ .result.NextOffset }}"{{ end }} {{ if not .result.HasNext }}disabled{{ end }}>Next Page</a>
        </nav>
    </div>
    {{ end }}
</div>
{{ end }}
