{{ define "content" }}
<h1>Settings</h1>

<h2>Bookmarklet</h2>
<div class="uk-visible@s">
    <p>
        For easier bookmark creation, drag the bookmarklet button into your browser's bookmark toolbar.<br />
        When you are on a website you want to bookmark, click the bookmarklet in the toolbar.
    </p>
    <p>
        <a class="uk-button uk-button-default" href="javascript:(function(){var bookmarkUrl=window.location;var bookmarkTitle=document.title;var bookmarkDescription=document.querySelector(`meta[name='description']`)?.content||'';var applicationUrl='{{ .scheme }}://{{ .host }}/bookmarks/new';applicationUrl+='?url='+encodeURIComponent(bookmarkUrl);applicationUrl+='&title='+encodeURIComponent(bookmarkTitle);applicationUrl+='&description='+encodeURIComponent(bookmarkDescription);window.open(applicationUrl);})();">Bookmark on submarine</a>
    </p>
</div>
<div class="uk-hidden@s">
    <p>
        For easier bookmark creation, use the provided bookmarklet. To install, copy the following code, then bookmark
        the current page and replace the URL with the copied code.
    </p>
    <p>
        <textarea class="uk-textarea">javascript:(function(){var bookmarkUrl=window.location;var bookmarkTitle=document.title;var bookmarkDescription=document.querySelector(`meta[name='description']`)?.content||'';var applicationUrl='{{ .scheme }}://{{ .host }}/bookmarks/new';applicationUrl+='?url='+encodeURIComponent(bookmarkUrl);applicationUrl+='&title='+encodeURIComponent(bookmarkTitle);applicationUrl+='&description='+encodeURIComponent(bookmarkDescription);window.open(applicationUrl);})();</textarea>
    </p>
</div>
{{ end }}
