{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <title>Submarine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ StaticAssetPath "uikit.min.css" }}">
        <link rel="icon" href="{{ StaticAssetPath "logo.svg" }}" />
        <script src="{{ StaticAssetPath "uikit.min.js" }}"></script>
        <script src="{{ StaticAssetPath "uikit-icons.min.js" }}"></script>
    </head>
    <body>
        <div class="uk-container">
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/" aria-label="Back to Home">
                        <img src="{{ StaticAssetPath "logo.svg" }}" width="69" height="44" alt="Submarine logo" class="uk-margin-small-left">
                    </a>

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="/">Bookmarks</a>
                        </li>
                        {{ if IsAuthenticated }}
                        <li class="uk-visible@s">
                            <a href="/settings">Settings</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    {{ if IsAuthenticated }}
                    <div class="uk-navbar-item uk-visible@s">
                        <a href="/bookmarks/new" class="uk-button uk-button-primary">Add Bookmark</a>
                    </div>

                    <div class="uk-navbar-item uk-hidden@s">
                        <a href="/bookmarks/new" class="uk-button uk-button-primary">Add</a>
                    </div>
                    <a class="uk-navbar-toggle uk-hidden@s uk-margin-small-right" href="#" aria-label="Open menu" uk-navbar-toggle-icon uk-toggle="target: #mobile-sidenav"></a>

                    <div class="uk-navbar-item uk-visible@s uk-margin-small-right">
                        <a href="/logout" class="uk-button uk-button-default">Logout</a>
                    </div>
                    {{ else }}
                    <div class="uk-navbar-item uk-margin-small-right">
                        <a href="/login" class="uk-button uk-button-primary">Login</a>
                    </div>
                    {{ end }}
                </div>

                <div id="mobile-sidenav" uk-offcanvas="flip: true; overlay: true; mode: none">
                    <div class="uk-offcanvas-bar">
                        {{ if IsAuthenticated }}
                        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                            <li><a href="/">Bookmarks</a></li>
                            <li><a href="/settings">Settings</a></li>
                        </ul>
                        <hr class="uk-divider-icon">
                        <div class="uk-navbar-item">
                            <a href="/bookmarks/new" class="uk-button uk-button-primary">Add Bookmark</a>
                        </div>
                        <div class="uk-navbar-item">
                            <a href="/logout" class="uk-button uk-button-default">Logout</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </nav>
            {{ template "content" . }}
        </div>
    </body>
</html>
{{ end }}
