{{ define "bookmark_card" }}
<div class="uk-comment">
    <div class="uk-comment-header">
        <h1 class="uk-comment-title uk-margin-remove">
            <a href="{{ .URL }}" rel="noreferrer noopener" target="_blank">
                {{ or .Title .URL }}
            </a>
        </h1>
        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-vertical">
            <li>
                <a href="/bookmarks/{{ .ID }}">
                    {{ .CreatedAt.Format "_2 Jan 2006" }}
                    <span uk-icon="icon: {{ if .IsPublic }}world{{ else }}lock{{ end }}; ratio: 0.9" class="uk-margin-small-left"></span>
                </a>
            </li>
            {{ if IsAuthenticated }}
            <li><a href="/bookmarks/{{ .ID }}/edit">Edit</a></li>
            <li><a href="#modal-delete-bookmark-{{ .ID }}" uk-toggle>Delete</a></li>
            {{ end }}
        </ul>
        <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
            {{ range $tag := .Tags }}
            <li>
                <a href="/tags/{{ $tag.Name }}">
                    <span class="uk-label uk-text-capitalize uk-margin-small-top">
                        <span uk-icon="tag"></span>
                        {{ $tag.Name }}
                    </span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ if .Description }}
    <div class="uk-comment-body">
        <p class="uk-text-small uk-text-light">{{ .Description }}</p>
    </div>
    {{ end }}
    <div id="modal-delete-bookmark-{{ .ID }}" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Delete Bookmark</h2>
            </div>
            <div class="uk-modal-body">
                <p>Are you sure you want to delete the bookmark <i>{{ .Title }}</i>?</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <form method="post" action="/bookmarks/{{ .ID }}/delete">
                    {{ CSRFHiddenInput }}

                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}
