{{ define "bookmark_form" }}
<form action="{{ .form.action }}" method="post" class="uk-form-stacked uk-width-1-2@m">
    {{ if .error }}
    <div class="uk-alert-danger" uk-alert>
        <p>{{ .error }}</p>
    </div>
    {{ end }}

    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <label class="uk-form-label" for="bookmark-url">URL</label>
            <div class="uk-form-controls">
                <input class="uk-input{{ if .validationErrors.URL }} uk-form-danger{{ end }}" id="bookmark-url" type="text" name="url" placeholder="https://en.wikipedia.org" value="{{ .bookmark.URL }}">
                {{ if .validationErrors.URL }}
                <p class="uk-flex uk-flex-middle uk-text-danger ">
                    <span data-uk-icon="icon:warning" class="uk-text-danger uk-margin-small-right"></span>
                    {{ .validationErrors.URL }}
                </p>
                {{ end }}
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="bookmark-title">Title</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="bookmark-title" type="text" name="title" placeholder="Wikipedia" value="{{ .bookmark.Title }}">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="bookmark-description">Description</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" rows="3" id="bookmark-description" name="description">{{ .bookmark.Description }}</textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="bookmark-tags">Tags</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="bookmark-tags" type="text" name="tags" placeholder="toRead, articles" value="{{ .bookmark.Tags }}">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">
                <input class="uk-checkbox" id="bookmark-public" type="checkbox" name="public"{{ if .bookmark.Public }} checked{{ end }}>
                Is Public
            </label>
        </div>

        <div class="uk-margin">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-primary" type="submit">{{ .form.submit }}</button>
            </div>
        </div>
    </fieldset>
</form>
{{ end }}
