{{ define "bookmark_card" }}
<div class="bookmark card">
    <header class="card-header">
        <p class="card-header-title">
            <a href="{{ .URL }}" rel="noreferrer noopener" target="_blank">
                {{ .Title }}
            </a>
        </p>
        {{ if .Tags }}
        <p class="card-header-icon">
            {{ range $tag := .Tags }}
            <span class="tag is-link is-light ml-2"><a href="/tags/{{ $tag.Name }}">{{ $tag.Name }}</a></span>
            {{ end }}
        </p>
        {{ end }}
    </header>
    {{ if .Description }}
    <div class="card-content">
        <p>{{ .Description }}</p>
    </div>
    {{ end }}
    <footer class="card-footer">
        <a href="/bookmarks/{{ .ID }}" class="card-footer-item">{{ .CreatedAt.Format "_2 Jan 2006" }}</a>
        {{ if IsAuthenticated }}
        <a href="/bookmarks/{{ .ID }}/edit" class="card-footer-item">Edit</a>
        <a class="card-footer-item js-modal-trigger" data-target="modal-delete-bookmark-{{ .ID }}">Delete</a>
        <div class="modal" id="modal-delete-bookmark-{{ .ID }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete Bookmark</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure you want to delete the bookmark <i>{{ .Title }}</i>?</p>
                </section>
                <footer class="modal-card-foot">
                    <form method="post" action="/bookmarks/{{ .ID }}/delete">
                        <button type="submit" class="button is-danger">Delete Bookmark</button>
                        <button class="button" type="reset">Cancel</button>
                    </form>
                </footer>
            </div>
        </div>
        {{ end }}
    </footer>
</div>
{{ end }}
